<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">

<div id="banner">
  <%= image_tag("logo.jpg") %>
  <%= @page_title || "Computer Desk Store" %><!-- <label id="code.depot.e.title"/> -->
</div>

<!--To meet Devise gem's flash message requirement, I add the below line of code.-->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
  <%= link_to "Change your password", edit_user_registration_path %>

</ul>
<%= yield %>

    <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
            <%= render @cart %>
        <% end %>
    <% end %>


    <% if session[:user_id] %>
        <ul>
          <li><%= link_to 'Orders', orders_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Users', users_path %></li>
        </ul>
        <%= button_to 'Logout', logout_path, method: :delete   %>
    <% end %>

</body>
</html>